[Desktop Entry]
Type=Service
Name=PostScript and DVI Files
X-KDE-ServiceTypes=ThumbCreator
X-KDE-PluginInfo-EnabledByDefault=true
MimeType=application/x-dvi;application/postscript;image/x-eps;
X-KDE-Library=gsthumbnail
CacheThumbnail=true
InitialPreference=2
