[Desktop Entry]
Type=Service
Name=PostScript Files
X-KDE-ServiceTypes=ThumbCreator
X-KDE-PluginInfo-EnabledByDefault=true
MimeType=application/postscript;image/x-eps;
X-KDE-Library=psthumbnail
CacheThumbnail=true
Configurable=true
InitialPreference=2
