[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_torrentfactory
X-KDE-ParentComponents=kget_torrent_plugin

Name=Torrent
