[Desktop Entry]
Type=Service
Name=md
Name[bg]=md
Name[bs]=md
Name[ca]=md
Name[ca@valencia]=md
Name[cs]=md
Name[da]=md
Name[de]=md
Name[el]=md
Name[en_GB]=md
Name[es]=md
Name[et]=md
Name[fi]=md
Name[fr]=md
Name[gl]=md
Name[hu]=md
Name[ia]=md
Name[is]=md
Name[it]=md
Name[ja]=md
Name[kk]=md
Name[ko]=md
Name[lt]=md
Name[mr]=md
Name[nb]=md
Name[nds]=md
Name[nl]=md
Name[pa]=md
Name[pl]=md
Name[pt]=md
Name[pt_BR]=md
Name[ru]=md
Name[sk]=md
Name[sl]=md
Name[sr]=md
Name[sr@ijekavian]=md
Name[sr@ijekavianlatin]=md
Name[sr@latin]=md
Name[sv]=md
Name[tr]=md
Name[ug]=md
Name[uk]=md
Name[x-test]=xxmdxx
Name[zh_CN]=md
Name[zh_TW]=md
Comment=Markdown backend for Okular
X-KDE-ServiceTypes=okular/Generator
MimeType=text/markdown;
X-KDE-Library=okularGenerator_md
X-KDE-Priority=2
X-KDE-okularHasInternalSettings=true
