[Desktop Entry]
Type=Service
Name=PDF Files
X-KDE-ServiceTypes=ThumbCreator
X-KDE-PluginInfo-EnabledByDefault=true
MimeType=application/x-pdf;application/pdf;application/x-gzpdf;application/x-bzpdf;
X-KDE-Library=pdfthumbnail
CacheThumbnail=true
Configurable=true
