[Desktop Entry]
Type=Service
Name=PDF Files
X-KDE-ServiceTypes=ThumbCreator
X-KDE-PluginInfo-EnabledByDefault=true
MimeType=application/pdf;
X-KDE-Library=pdfthumbnail
CacheThumbnail=true
Configurable=true
