QWidget[name="main"] {
    background-color:rgba(0,0,0,30%);
    border-radius: 5px 5px 5px 5px;
}

VButton[action="toggleExtension"] {
    background-color:gray;
    border-color: gray;
}
VButton[action="toggleVisibility"] {
    background-color:red;
    border-color:red;
}